########################################################################
# Подключения файлов
########################################################################

#[include ALP/voron/voron_c/macros/Demon_Klipper_Essentials_Unified/*.cfg]
#[include ALP/voron/voron_c/macros/Demon_User_Files/*.cfg]
#[include ALP/voron/voron_c/macros/KAMP_LiTE/*.cfg]
[include ALP/voron/voron_c/macros/*.cfg]
[include ALP/voron/voron_c/hardware/*.cfg]

[include mainsail.cfg]
#[include My_Macros.cfg]

# ======================================================================
#         АВТОМАТИЧЕСКИ СОХРАНЕННЫЕ КАЛИБРОВКИ (НЕ ТРОГАТЬ!)
# ======================================================================
# ВНИМАНИЕ: Весь этот блок генерируется командой SAVE_CONFIG
# и НЕ ДОЛЖЕН редактироваться вручную!
# ======================================================================

#####################################################################
##	                 Калибровочные значения
#####################################################################

# 1. Калибровка ПИД экструдера
[extruder]
pid_Kp: 26.881
pid_Ki: 2.560
pid_Kd: 70.561

# 2. Калибровка ПИД стола
[heater_bed]
pid_Kp: 58.332
pid_Ki: 1.861
pid_Kd: 457.178

# 3. Калибровка разрешения экструдера https://www.klipper3d.org/Rotation_Distance.html
##	When performing extruder calibration, update the following values
##	Let's say you ask for a 100mm feed, but it's actually 98mm ,
##	New value = old value x (actual extrusion length / target length)
[extruder]
rotation_distance : 22.136

# 4. z-offset
[probe]
# z_offset: 3.405
z_offset: -0.67

[input_shaper]
shaper_freq_x: 60.6
shaper_type_x: mzv
shaper_freq_y: 45.6
shaper_type_y: mzv

[printer]
max_accel: 6100

[include ./voron_c/*.cfg]
[include voron_c_my_macros.cfg]
