#####################################################################
##                  Heater_bed
#####################################################################

[heater_bed]
heater_pin: PB4
sensor_type: Generic 3950               # NTC 100K MGB18-104F39050L32
sensor_pin: PB0                         # TB sensor interface
max_power: 0.6                          # Adjust Max Power so your heater doesn't warp your bed
min_temp: 0
max_temp: 120
control: pid

#####################################################################
#                  FAN
#####################################################################

[heater_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0

#####################################################################
# 	                   Bed Grid Calibration
#####################################################################

[bed_mesh]
speed : 80                    # Calibration speed
horizontal_move_z : 10        # Z-axis movement speed
mesh_min : 30,30              # Minimum calibration point coordinates x, y
mesh_max : 270, 270           # Maximum calibration point coordinates x, y
probe_count : 7,7             # Number of sampling points (7X7 is 49 points)
mesh_pps : 2,2                # Number of supplementary sampling points
algorithm : bicubic           # algorithmic model
bicubic_tension : 0.2         # Algorithmic interpolation don't move