########################################################################
# Подключения файлов
########################################################################

[include ALP/voron/voron_a/macros/Demon_Klipper_Essentials_Unified/*.cfg]
[include ALP/voron/voron_a/macros/Demon_User_Files/*.cfg]
[include ALP/voron/voron_a/macros/KAMP_LiTE/*.cfg]
[include ALP/voron/voron_a/macros/*.cfg]
[include ALP/voron/voron_a/hardware/*.cfg]

[include mainsail.cfg]
[include My_Macros.cfg]

# ======================================================================
#         АВТОМАТИЧЕСКИ СОХРАНЕННЫЕ КАЛИБРОВКИ (НЕ ТРОГАТЬ!)
# ======================================================================
# ВНИМАНИЕ: Весь этот блок генерируется командой SAVE_CONFIG
# и НЕ ДОЛЖЕН редактироваться вручную!
# ======================================================================
