[save_variables]
filename = ~/printer_data/config/demon_vars.cfg

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

[respond]

[exclude_object]

[force_move]
enable_force_move: true

[firmware_retraction]
retract_length: 0.8
retract_speed: 30
unretract_extra_length: 0.0
unretract_speed: 30

# Не работающий пин для корректной работы HeatSoakTimers
[output_pin Printer_Lights]
pin:PC6
pwm: 1
value:1
cycle_time: 0.010

#[bed_mesh]
#probe_count: 4,4

########################################################################
# Подключения файлов
########################################################################
[include ALP/ender/common/hardware/*.cfg]
[include ALP/ender/common/macros/*.cfg]
[include ALP/ender/common/macros/KAMP_LiTE/*.cfg]
[include ALP/ender/common/macros/Demon_Klipper_Essentials_Unified/*.cfg]
[include ALP/ender/common/macros/Demon_User_Files/*.cfg]

[include mainsail.cfg]
[include My_Macros.cfg]

########################################################################
# Калибровочные значения (индивидуальные)
########################################################################

# 1. Калибровка ПИД экструдера
[extruder]
pid_Kp: 23.094
pid_Ki: 1.555
pid_Kd: 85.738

# 2. Калибровка ПИД стола
[heater_bed]
pid_Kp: 38.305
pid_Ki: 1.949
pid_Kd: 188.172

# 3. Калибровка разрешения экструдера https://www.klipper3d.org/Rotation_Distance.html
[extruder]
rotation_distance: 7.54281

# 4. z-offset калибровка грубая по бумажке

# 5. Тест точности и повторяемости  https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-z-offset

# 6. z-offset First Layer Squish
[bltouch]
z_offset: 2.95

# 7. Linear Advance https://ellis3dp.com/Print-Tuning-Guide/articles/pressure_linear_advance/pattern_method.html
# set in OrcaSlicer in filament profile

# 8. Input shaping

#[include ALP/ender/common/mcu_adxl.cfg]

[input_shaper]
shaper_freq_x: 28.2
shaper_type_x: mzv
shaper_freq_y: 42.4
shaper_type_y: mzv

[printer]
max_accel: 2300 # should not exceed the estimated max_accel for X and Y axes
